namespace FontAwesome {
    
    public enum Icons {
        {%- for icon in icons %}
        // {{ icon.name }}
        {{ icon.id | camelcase }} = 0x{{ icon.unicode }} {%if not loop.last %},{% endif %}
        {%- endfor %}
    }

}