var icons = {
    {% for icon in icons %}{ 
        id : "{{ icon.id }}", 
        name : "{{ icon.name }}", 
        unicode : "\u{{ icon.unicode }}" 
    }{% if not loop.last %},{% endif %} 
    {% endfor %}
}